<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Balekoth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Balekoth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Balekoth.Properties.Settings>
            <setting name="Race" serializeAs="String">
                <value>race_missing</value>
            </setting>
            <setting name="Health" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Strength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Intelligence" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Wisdom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dexterity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Luck" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Charisma" serializeAs="String">
                <value>0</value>
            </setting>
        </Balekoth.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Balekoth.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>username_missing</value>
            </setting>
        </Balekoth.Properties.Settings>
    </applicationSettings>
</configuration>